# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Data files
*.csv
*.xlsx

# Idea files (what are these?)
*.xml
*.iml

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
